:root{
    --grey: #f3f5f7;
    --black: #101524;
}
.App{
padding: 0px;
margin:0px;
 display: flex;
    height: 100dvh;
    overflow:hidden;

}

.main-page{
    flex-grow:1;
    height:100dvh;
    overflow-y: auto;
    margin-left: 8em;
}

